.product {
    border-radius: 5px;
    box-shadow: gray 1px 1px 3px;
    float: left;
    margin: 1em;
    font-size: 1.1em;
    padding: 1em;
    width: 300px;
    height: 40em;
    text-align: center;
    font-family: 'TH Sarabun PSK', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.product img {
    width: 15em;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Add {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E7C3AA;
    height: 3.5em;
}

li #search {
    float: left;
    margin: 10px;
    margin-top: 13px;
}

li a {
    display: block;
    padding: 8px;
}

#cart {
    position: absolute;
    float: right;
    margin-top: 13px;
    margin-left: 68.75em;
}

h1 {
    text-align: center;
    font-family: 'TH Sarabun PSK', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5em;
}

#searchBar {
    float: left;
    margin: 2px
}

#prodAmount {
    border-radius: 10em;
    color: red;
}

/** New Edition */
#incart {
    float: right;
    margin-top: 10px;
    position: absolute;
    background-color: red;
    color: white;
    margin-left: 70.2em;
    border-radius: 10em;
}